<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Travel Info</span>
  <span class="example-spacer"></span>
  <div class="welcome">
    <span class="welcome-mgs">Welcome {{ username }} </span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">

  <mat-sidenav #sidenav class="sidenav-side" mode="push" [opened]="isSidenavOpened">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a mat-list-item routerLink="/countries" routerLinkActive="active">Countries</a>
      <a mat-list-item routerLink="/favorites" routerLinkActive="active">Favorites</a>
      <a mat-list-item routerLink="/calendar" routerLinkActive="active">Calendar</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<!-- <div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">bezKoder</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      @if (showAdminBoard) {
        <li class="nav-item">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
      }
      @if (showAgentBoard) {
        <li class="nav-item">
          <a href="/agent" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
      }
      @if (isLoggedIn) {
        <li class="nav-item">
          <a href="/traveler" class="nav-link" routerLink="user">User</a>
        </li>
      }
    </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
  </nav>
</div> -->