<mat-toolbar>
  <button mat-icon-button class="menu-btn" aria-label="Example icon-button with menu icon" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="welcome-mgs">Travel Info</span>
  <span class="example-spacer"></span>
  <div class="language">
    <mat-icon class="dropdown-btn">language</mat-icon>
    <button class="dropdown-btn" mat-icon-button [matMenuTriggerFor]="language" aria-label="Example icon-button with a menu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #language="matMenu">
      <button mat-menu-item (click)="switchLanguage('en')">
        <span>English</span>
      </button>
      <button mat-menu-item (click)="switchLanguage('gr')">
        <span>Greek</span>
      </button>
    </mat-menu>
  </div>
  <div class="welcome">
    <span class="welcome-mgs">Welcome {{ username }} </span>
    <button class="dropdown-btn" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">

  <mat-sidenav #sidenav class="sidenav-side" mode="push" [opened]="isSidenavOpened">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon class="d-flex side-icon">dashboard</mat-icon>
        <label>Dashboard</label>
        
      </a>
      <a mat-list-item routerLink="/countries" routerLinkActive="active">
        <mat-icon class="d-flex side-icon">place</mat-icon>
        Countries
      </a>
      <a mat-list-item routerLink="/favorites" routerLinkActive="active">
        <mat-icon class="d-flex side-icon">favorite</mat-icon>
        Favorites
      </a>
      <a mat-list-item routerLink="/calendar" routerLinkActive="active">
        <mat-icon class="d-flex side-icon">calendar_today</mat-icon>
        Calendar
      </a>
      <a mat-list-item routerLink="/traveler-board" routerLinkActive="active">
        <mat-icon class="d-flex side-icon">card_travel</mat-icon>
        Traveler Board
      </a>
      <a *ngIf="showAdminBoard" mat-list-item routerLink="/admin-board" routerLinkActive="active">
        <mat-icon class="d-flex side-icon">people</mat-icon>
        Admin Board
      </a>
      <a *ngIf="showAgentBoard" mat-list-item routerLink="/agent-board" routerLinkActive="active">
        <mat-icon class="d-flex side-icon">map</mat-icon>
        Agent Board
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'width': isSidenavOpened ? '85dvw' : '100dvw' }">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>