.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  position: absolute;
  height: 60px;
  width: 10vw;
}

.welcome-mgs {
  color: white;
}

.language {
  right: 10vw;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.mat-toolbar {
  background-color: lightgray;
}

.sidenav-container {
  height: 100dvh;
}

.sidenav-side {
  width: 15dvw;
}