.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  position: absolute;
  height: 60px;
  width: 10vw;
}

.welcome-mgs {
  color: white;
}

.menu-btn {
  color: white;
}

.language {
  right: 10vw;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.dropdown-btn {
  color: white;
  background-color: transparent;
  border: transparent;
}

.mat-toolbar {
  background-color: rgb(26, 26, 29);
}

.sidenav-container {
  height: calc(100dvh - 64px);
}

.sidenav-side {
  width: 15dvw;
  background-color: white;
}

.side-icon {
  margin-right: 5px;
}