.dashboard-container {
  width: 100%;
  flex-direction: column;
}

.header-title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 50px;
  width: 97%;
  margin-top: 30px;
}

.population-chart {
  margin-bottom: 30px;
}

.continent-chart {
  margin-top: 30px;
}

.chart-container {
  width: 60%;
  height: 30%;
  padding: 20px;
}

canvas {
  display: block;
  height: auto;
  margin-top: 20px;
}
