.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.country-detail-container {
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: lightgray;
}

.card {
  flex-direction: column;
  border: 2px solid darkgray;
  width: 50dvw;
  height: 85dvh;
  border-radius: 20px;
  justify-content: flex-start;
}

.flag {
  width: 60%;
  height: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 30px;
}

p {
  font-size: large;
  margin-bottom: 20px;
}

.buttons-container {
  width: 30dvw;
  margin-top: 40px;
}

.fav-button {
  background-color: goldenrod;
  color: white;
  height: 50px;
  border-color: transparent;
  width: 160px;
  margin-right: 10px;
  cursor: pointer;
}

.back-button {
  background-color: rgb(130, 203, 228);;
  color: white;
  height: 50px;
  border-color: transparent;
  width: 160px;
  margin-left: 10px;
  cursor: pointer;
}

