<div *ngIf="country$ | async as country" class="country-detail-container d-flex">
  <div class="card d-flex">
    <img class="flag d-flex" [src]="country.flags.svg" [alt]="country.name.common" />
    <span class="title">{{ country.name.common }}</span>
    <p><strong>Capital:</strong> {{ country.capital }}</p>
    <p><strong>Population:</strong> {{ country.population | number }}</p>
    <p><strong>Region:</strong> {{ country.region }}</p>
    <p><strong>Languages:</strong> {{ country.languages | json }}</p>
    <p><strong>Currencies:</strong> {{ country.currencies | json }}</p>
    <div class="buttons-container d-flex">
      <button class="fav-button" (click)="toggleFavorite(country)">
        {{ isFavorite ? ('buttons.removeFavorites' | translate) :  ('buttons.addFavorites' | translate) }}
      </button>
      
      <button class="back-button" (click)="back()">
        {{ 'buttons.back' | translate }}
      </button>
    </div>
  </div>
  
</div>
