@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.login-container {
  background: url('/assets/images/background.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  margin: 20px auto;
  padding: 40px 50px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 1px #666;
  width: 20vw;
}

.login input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}

.login input[type=text],
.login input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
}

.login input[type=text]:hover {
  border-color: #F44336;
  outline: none;
  transition: all .2s ease-in-out;
}

.login input[type=submit] {
  border: none;
  background: #EF5350;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
}

.login input[type=submit]:hover {
  background: #F44336;
}

.login h2 {
  color: darkgray;
  font-size: 28px;
  margin-bottom: 30px;
}

.fa-dumbbell {
  display: flex;
  justify-content: center;
  color: #F44336;
}

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: larger;
  color: #F44336;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

.login h2,
.login p,
.login a {
  text-align: center;
}

.login a {
  text-decoration: none;
  font-size: .8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}