.access-denied {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 48px;
  color: #e74c3c;
}

p {
  font-size: 20px;
  color: #7f8c8d;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}
